.CardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 15rem;
  height: 24rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.img {
  width: 15rem;
  height: 15rem;  
  object-fit: cover;
  display: block;
  border-radius: 1rem;
}

.h2 {
  font-size: 1rem;
}

.discount {
  position: absolute;
  top: 5px;
  left: 10px;            
  background-color: #E7277F; 
  color: white;
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.5rem;
  pointer-events: none;    /* Para que no interfiera con clicks */
  box-shadow: 0 2px 6px rgba(121, 121, 121, 0.3);
}

.button {
  all: unset;
  background-color: #1F3D87;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  color: white;
  font-size: 0.8rem; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-fucsia);
}