a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 3rem 2.5rem;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}


.search {
    border-radius: 1rem;
    width: 30rem;
    padding: 0.5rem 1rem;
}




.carrIcon {
    width: 22px;
    height: auto;
    background-color: rgb(17, 17, 56);
    border-radius: 1rem;
    padding: 0.5rem;
}

