body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --color-azul: #1F3D87;
  --color-fucsia: #E7277F;
}